// _variables.scss

// brand colors
$brand-colors: (
  'one': #88BBCC,
  'two': #CBA29E,
);

$font-colors: (
  'one': #222328,
  'two': #5F5F63,
  'three': #FFFFFF,
);

// font-stack
$font-stack: "Open Sans", sans-serif;

// border
$border: solid 4px #f4f6ff;

// border-radius
$border-radius: 0;

// the standard max width
$content-wrapper-max-width: 1600px;

// box-shaddow
$box-shaddow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2)
;

// footer background color
$footerBgColor: #F4F3EE;

// Bootstrap Breakpoints
// src: https://getbootstrap.com/docs/4.1/layout/grid/
// - modified
$breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  // Extra Extra large screen
  xxl: 1800px
);

// framedBlockBGColor
$framedBlockBGColor: #F4F3EE50; // => #RRGGBBAA (red, green, blue, alpha)