// _Footer.scss

/* 

  Footer

*/

.Footer {
  background-color: $footerBgColor;
  color: map-get($font-colors, one);
  padding-top: 72px;
  padding-bottom: 56px;
}

/* Sticky Footer Classes */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}
/* END Sticky Footer Classes */