// _FramedBlock.scss

/* 

  Framed Block

*/

#framed-block {
  // background-color: $framedBlockBGColor;
  padding-top: 72px;
  padding-bottom: 72px;
}

#framed-block .container {
  background-color: #FFFFFF;
  padding: 5%;
}