// _Hero.scss

/* 

  Hero

*/

.Hero { 
  padding: map-get($hero-breakpoints-and-padding, def);

  &__category {
    color: map-get($font-colors, three);
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1.7rem;
  }

  &__heading {
    color: map-get($font-colors, three);
    margin-bottom: 0.5rem;
  }

  &__subHeading {
    color: map-get($font-colors, three);
    font-size: 1.25rem;
    font-weight: 300;
  }
}

/* Hero Modifier */
.Hero--changePadding {
  @media (min-width: 767px) {
    padding: map-get($hero-breakpoints-and-padding, 767);
  }
  @media (min-width: 1600px) {
    padding: map-get($hero-breakpoints-and-padding, 1600);
  }
  @media (min-width: 1800px) {
    padding: map-get($hero-breakpoints-and-padding, 1800);
  }
  @media (min-width: 2000px) {
    padding: map-get($hero-breakpoints-and-padding, 2000);
  }
  @media (min-width: 2200px) {
    padding: map-get($hero-breakpoints-and-padding, 2200);
  }
}