// _Hero.scss

/* 

  Hero

*/

.Hero {
  color: #FFFFFF;
  padding: 12% 3% 12% 15px;
  @media (min-width: 767px) {
    padding: 15% 10% 9% 15px;
  }
  @media (min-width: 1600px) {
    padding: 16% 3% 16% 15px;
  }
  @media (min-width: 1800px) {
    padding: 18% 3% 18% 15px;
  }
  @media (min-width: 2000px) {
    padding: 20% 3% 20% 15px;
  }
  @media (min-width: 2200px) {
    padding: 21% 3% 21% 15px;
  }

  &__category {
    text-transform: uppercase;
  }
}