/* 

  Layout.scss

*/

// quick add-on: refactor post show and tell w Dennis
#text-form {
  padding-top: 72px;
  padding-bottom: 72px;
}

// the grid
@mixin grid-cols-and-gap {
  display: grid;
  grid-template-columns: 5% [content-start] repeat(12, 1fr) [content-end] 5%; 
  column-gap: 2%;
}

// the max-width and margin auto
@mixin max-width-margin-auto  {
  max-width: $content-wrapper-max-width;
  margin: auto;
}

// Media Queries
@mixin for-tablet-up {
  @media only screen and (min-width: map-get($breakpoints, 'small' )) {
    @content;
  }  
}

// second breakpoint
@mixin for-laptop-up {
  @media only screen and (min-width: map-get($breakpoints, 'medium' )) {
    @content;
  }  
}

// third breakpoint
@mixin for-desktop-up {
  @media only screen and (min-width: map-get($breakpoints, 'large' )) {
    @content;
  }  
}