// _typography.scss


/* 

  Typography

*/

body {
  font-family: $font-stack;
  color: map-get($font-colors, one);
}

h1 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 300;

  // respond to tablets upwards
  @include for-tablet-up {
    font-size: 2.7rem;
  }
  // respond to laptop upwards
  @include for-laptop-up {
    font-size: 2.9rem;
  }
}

h2 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 0.8375rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.064375rem;
  line-height: 1.49;
  text-transform: uppercase;
}

h3 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.3rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.28;
}

h4 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.2rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.46;
}

p {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.06rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.65;
  letter-spacing: normal;
}

a {
  color: map-get($font-colors, one);
  text-decoration: underline;
}

// include the original responsive typo rules
// refactor later
/* Responsive Typography */
@media (max-width: 1200px) {
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}
/* END Responsive Typography */
