// _typography.scss


/* 

  Typography

*/

body {
  font-family: $font-stack;
  color: map-get($font-colors, one);
}

h1 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  line-height: 1.25;
}

h2 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  line-height: 1.25;
}

h3 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  line-height: 1.25;
}

h4 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  line-height: 1.35;
}

h5 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.3rem; 
  line-height: 1.35;
}

h6 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.1rem; 
  line-height: 1.35;
}

p {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.1rem;
  line-height: 1.65;
}

a {
  color: map-get($font-colors, one);
  text-decoration: underline;
}

ul {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.1rem;
}

/* 

  Responsive Typography:
  - scale up to xxl breakpoint
  
*/
@media only screen and (max-width: map-get($breakpoints, 'xxl' )) {
  h1 {
    font-size: calc(1.975rem + 1.5vw);
  }
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}

/* END Responsive Typography */

@include for-xxl-up{
  h1 {
    font-size: 59px;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 26px;
  }
  legend {
    font-size: 26px;
  }
  .display-1 {
    font-size: 131px;
  }
  .display-2 {
    font-size: 119px;
  }
  .display-3 {
    font-size: 96px;
  }
  .display-4 {
    font-size: 73px;
  }
  .close {
    font-size: 26px;
  }
}
