// _typography.scss


/* 

  Typography

*/

body {
  font-family: $font-stack;
  color: map-get($font-colors, one);
}

h1 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 2.52rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.25;
  // respond to tablets upwards
  @include for-tablet-up {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  // respond to laptop upwards
  @include for-laptop-up {
    font-size: 2.72rem;
    line-height: 3rem;
  }
}

h2 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 0.8375rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.064375rem;
  line-height: 1.49;
  text-transform: uppercase;
}

h3 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.3rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.28;
}

h4 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.2rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.46;
}

p {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.06rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.65;
  letter-spacing: normal;
}

a {
  color: map-get($font-colors, one);
  text-decoration: underline;
}

