// _typography.scss


/* 

  Typography

*/

body {
  font-family: $font-stack;
  color: map-get($font-colors, one);
}

h1 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 2.5rem;
  line-height: 1.25;
  font-weight: 300;
}

h2 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 2.2rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.064375rem;
  line-height: 1.25;
  text-transform: uppercase;
}

h3 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.8rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  letter-spacing: normal;
  line-height: 1.25;
}

h4 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.5rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.35;
}

h5 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.3rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.35;
}

h6 {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.1rem; 
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: normal;
  line-height: 1.35;
}

p {
  color: map-get($font-colors, one);
  font-family: $font-stack;
  font-size: 1.1rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.65;
  letter-spacing: normal;
}

a {
  color: map-get($font-colors, one);
  text-decoration: underline;
}

// change the bootstrap display class
.display-1, .display-2, .display-3, .display-4 {
  font-weight: 900;
}
.display-1 {
  font-size: 4.88rem;
}
.display-2 {
  font-size: 4.13rem;
}
.display-3 {
  font-size: 3.5rem;
}
.display-4 {
  font-size: 2.97rem;
}



/* 

  Responsive Typography:
  - scale up to xxl breakpoint
  
*/
@media only screen and (max-width: map-get($breakpoints, 'xxl' )) {
  h1 {
    font-size: calc(1.975rem + 1.5vw);
  }
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  legend {
    font-size: calc(1.275rem + 0.3vw);
  }
  .display-1 {
    font-size: calc(1.725rem + 5.7vw);
  }
  .display-2 {
    font-size: calc(1.675rem + 5.1vw);
  }
  .display-3 {
    font-size: calc(1.575rem + 3.9vw);
  }
  .display-4 {
    font-size: calc(1.475rem + 2.7vw);
  }
  .close {
    font-size: calc(1.275rem + 0.3vw);
  }
}
/* END Responsive Typography */
